<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socomon</title>
    <link rel="stylesheet" href="/css/Categories.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    
    <div class="main-container">
     
              <h1 id="fashion" class="cl1 inner-box">Fashion</h1>
        
              <h1 id="art" class="cl2 inner-box">Art/Craft</h1>
    
              <h1 id="photography" class="cl3 inner-box">Photography</h1>
      
              <h1 id="quotes" class="cl4 inner-box">Quotes</h1>

        </div>
    </div>

    <div class="loader"></div>
    
    <div class="show">
       
    </div>
    <script src="/js/bundle.js"></script>
</body>
</html>