<link rel="stylesheet" href="css/navigation.css">
    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="#" class="text-gray">Socomon</a>
            </div>
            <div>
                <div class="toggle-collapse">
                    <div class="toggle-icons">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="#">Profile</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Message</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Categories</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Statistics</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">logout</a>
                    </li>
                </ul>
            </div>

            {{!-- <div class="social text-gray">
               
              
            </div> --}}
        </div>

    </nav>
    

    
 